@model TweeterApp.Models.PostModel

<h2>@Model.Title</h2>
<p><strong>Title:</strong> @Model.Content</p>
<p><strong>Content:</strong> @Model.Content</p>
<p><strong>Created by:</strong> @Model.User.UserName @Model.CreatedDate.ToString("g")</p>
<p><strong>Time of creation</strong> @Model.CreatedDate.ToString("g")</p>

@* add like cont display *@