@using Microsoft.AspNetCore.Identity
@model TweeterApp.Models.ViewModels.FollowViewModel
@inject UserManager<ApplicationUser> UserManager

<h2>Profile @Model.User.UserName</h2>
<h3>Current followers:</h3>
<ul>
    @foreach(var follower in Model.Followers){
        <li>@follower.UserName</li>
    }
</ul>

<h3>Currently followering:</h3>
<ul>
    @foreach (var followee in Model.Following)
    {
        <li>@followee.UserName</li>
    }
</ul>
@if(User.Identity.IsAuthenticated){
    var currentUserId = int.Parse(UserManager.GetUserId(User));
    if(currentUserId != Model.User.Id){
        if(Model.IsFollowing){
            <form asp-controller="Follow" asp-action="UnFollow" method="post" style="display:inline">
                <input type="hidden" name="followeeId" value="@Model.User.Id" />
                <button class="btn btn-outline-secondary">Unfollow</button>
            </form>
        }
        else
        {
            <form asp-controller="Follow" asp-action="Follow" method="post" style="display:inline">
                <input type="hidden" name="followeeId" value="@Model.User.Id" />
                <button class="btn btn-outline-secondary">follow</button>
            </form>
        }
    }
}
