@* @model IEnumerable<TweeterApp.Models.MessageModel>
    @model
<h2>Pending Messages</h2>
@foreach(var msg in Model)
{
    <div>
        <strong>To whom:</strong> @msg.ReceiverId<br />
        <strong>Subject:</strong> @msg.Subject<br />
        <p>@msg.Body</p>
        <hr />
    </div>
} *@
@model List<TweeterApp.Models.MessageModel>



<h2>Outbox</h2>

<table class="table">
    <thead>
        <tr>
            <th>To</th>
            <th>Message</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var message in Model)
        {
            <tr>
                <td>@message.Receiver?.UserName (@message.ReceiverId)</td>
                <td>@message.Body</td>
                <td>@message.SentAt.ToString("g")</td>
            </tr>
        }
    </tbody>
</table>